<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business-Communication-Application</title>
</head>

<body>

    <div class="container-fluid ">
        <div class="row h-100">
            <div id="navigation-col" class="col-4 col-md-3 col-sm-3">
                <div id="navigation-items">
                    <h3>Channels</h3>
                    <span (click)="clickChannel({
                        name : 'General',
                        description : 'For general workspace conversations'
                        })"
                        class="pl-3 pt-2 pb-2 pr-2 m-0 navigation-item">General</span>
                    <span (click)="clickChannel({
                        name : 'Random',
                        description : 'For Random Channel'
                        })"
                        class="pl-3 pt-2 pb-2 pr-2 m-0 navigation-item">Random</span>
                    <span (click)="clickChannel({
                        name : 'Client Chat',
                        description : 'For Client Chat Channel'
                        })"
                        class="pl-3 pt-2 pb-2 pr-2 m-0 navigation-item">Client Chat</span>
                    <span (click)="clickChannel({
                        name : 'Internal Projects',
                        description : 'For Internal Projects Channel'
                        })"
                        class="pl-3 pt-2 pb-2 pr-2 m-0 navigation-item">Internal Projects</span>
                    <span (click)="clickChannel({
                        name : 'Marketing',
                        description : 'For Marketing Channel'
                        })"
                        class="pl-3 pt-2 pb-2 pr-2 m-0 navigation-item">Marketing</span>
                </div>
            </div>

            <div class="col-8 col-md-9 col-sm-9 chat-container" class="AppComponent">
                <div class="chat-title">
                    <span class="catagory-name">#{{selectedChannel.name}}</span>
                    <p class="catagory-explain">{{selectedChannel.description}}</p>
                </div>


                <div id="messages-container">
                    <div class="message" *ngFor="let speak of messageList">
                        <!--TODO-->
                        <div class="row mt-3">
                            <!--! This block is for both image, name, time and date: make this injectable from somewhere-->
                            <div class="col col-avatar ml-3">

                                <img src={{speak.avatarURL}} alt="connor" class="avatar col-avatar">
                            </div>
                            <div class="col">
                                <div class="col">
                                    <h5>{{speak.username}}</h5>
                                </div>
                                <div class="col">
                                    <p>{{speak.dateTime | date: 'medium'}}</p>
                                   
                                </div>
                            </div>
                        </div>
                        <p class="ml-3">{{speak.messageText}}</p>
                        <!--!Here is the line for message data-->
                        <button (click) = "deleteItem(speak)">Delete Item</button>
                        <!-- The below code was taken from https://codepen.io/msaetre/pen/mAtJF for displaying a trashcan button-->
                        <div class="icon-trash" style="float: left" (click) = "deleteItem(speak)">
                            <div class="trash-lid" style="background-color: gray"></div>
                            <div class="trash-container" style="background-color: gray"></div>
                            <div class="trash-line-1"></div>
                            <div class="trash-line-2"></div>
                            <div class="trash-line-3"></div>
                          </div>

                    </div>
                    
                </div>

                <!-- Our problem  -->
                <div class="row message-input-row align-items-end">
                    <div class="col col-message">
                        <textarea id="input-container" class="form-control"
                            placeholder="Enter your message here"></textarea>
                    </div>
                </div>
            </div>
        </div> <!-- End of Row -->

    </div>




    <!-- The div blocks below are just practice for final version of project feel free to delete-->
    <p>Hello World!!</p>
    <!-- <div class = "main-rap" *ngFor="let image of imageList" >
    <img src={{image}}>
</div> -->

    <div class="second-rap" *ngFor="let speak of messageList">
        <img src={{speak.avatarURL}}>
        <h1>{{speak.username}}</h1>
        <p>{{speak.messageText}}</p>
        <button (click) = "deleteItem(messageList)" class="bi bi-trash" >Delete</button>
        
        <div class="icon-trash" style="float: left" (click) = "deleteItem(messageList)">
            <div class="trash-lid" style="background-color: #2CC3B5"></div>
            <div class="trash-container" style="background-color: #2CC3B5"></div>
            <div class="trash-line-1"></div>
            <div class="trash-line-2"></div>
            <div class="trash-line-3"></div>
          </div>
          
        <!-- <h1>{{Message.username}}</h1> -->
        <!-- <app-photo
        *ngFor="let speak of messageList"
        [message] = "speak"></app-photo> -->
    </div>

    <div>
        {{myDate | date: 'medium'}}
    </div>

</body>

</html>

<app-chat></app-chat>